__pycache__
*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
*.eggs
dist
deb_dist
build
_build
eggs
parts
var
sdist
develop-eggs
.installed.cfg
MANIFEST
env
burnbox-*.tar.gz
burnbox_*.snap
.flatpak-builder
BurnBox.flatpak

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml
.cache
.pytest_cache

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# vim
*.swp

# tags
ctags
tags

# OSX
.DS_Store

# virtualenv
venv
.venv
desktop/.venv

# other
.vscode
.python-version
burnbox.dist-info
desktop/burnbox/resources/tor
TODO*
