[Desktop Entry]
Name=BurnBox
Exec=burnbox
Terminal=false
Type=Application
Icon=${SNAP}/meta/gui/burnbox.svg
Categories=Network;FileTransfer;
Keywords=tor;anonymity;privacy;onion service;file sharing;file hosting;
StartupNotify=true
StartupWMClass=burnbox
